@charset "UTF-8";
/***************************
* 
*  JC PORTFOLIO
*  main.scss
* 
***************************/
/*****************************
* 
*  JC PORTFOLIO
*  Abstracts: _variables.scss
* 
*****************************/
/***************************
* 
*  JC PORTFOLIO
*  Base: _base.scss
* 
***************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  background-color: #FAFAFA; }

.spacer {
  margin-top: 1rem; }

/***************************
* 
*  JC PORTFOLIO
*  Base: _typography.scss
* 
***************************/
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5; }

.para:not(:last-child) {
  margin-bottom: 2.2rem; }

.heading, .heading__main, .heading__sub, .heading__section {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25; }
  .heading__main {
    color: #FFF;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .5rem; }
  .heading__sub {
    color: #FFF;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: .35rem; }
    .heading__sub--slash {
      position: relative;
      top: .3rem;
      color: #B51D3E;
      font-size: 5rem; }
  .heading__section {
    grid-column: content-start / content-end;
    margin-bottom: 7rem;
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem; }
    .heading__section--slash {
      position: relative;
      top: .35rem;
      color: #B51D3E;
      font-size: 4rem;
      font-weight: 400; }

.section__subhead {
  grid-column: content-start / col-end 3;
  text-transform: uppercase;
  text-align: right;
  font-weight: 400;
  color: #B51D3E; }

.section__text--left {
  grid-column: col-start 5 / content-end;
  text-align: left; }

.section__text--center {
  grid-column: col-start 2 / col-end 11;
  text-align: center; }

/***************************
* 
*  JC PORTFOLIO
*  Components: _button.scss
* 
***************************/
.button:link, .button:visited {
  display: inline-block;
  border-radius: .3rem;
  border: 2px solid #B51D3E;
  padding: 1.25rem 2.25rem 1rem 2.25rem;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: .15rem;
  transition: all .4s; }

.button--white:link, .button--white:visited {
  color: #FFF; }

.button:hover {
  background-color: #B51D3E;
  color: #FFF; }

/***************************
* 
*  JC PORTFOLIO
*  Components: _hero.scss
* 
***************************/
.hero {
  grid-column: full-start / full-end;
  position: relative; }
  .hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); }
  .hero__arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%); }
    .hero__arrow__svg {
      height: 3rem;
      width: 3rem;
      fill: #FFF;
      animation: scroll-arrow 1.75s infinite; }

@keyframes scroll-arrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }

/***************************
* 
*  JC PORTFOLIO
*  Layout: _footer.scss
* 
***************************/
.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: #2B2929;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase; }
  .footer__nav {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 2rem;
    align-items: center;
    list-style: none; }
    .footer__nav__item {
      align-self: center; }
    .footer__nav__link:link, .footer__nav__link:visited {
      color: #FFF;
      text-decoration: none;
      transition: color .5s; }
    .footer__nav__link:hover {
      color: #B51D3E; }
  .footer__logo {
    position: relative;
    top: .3rem;
    color: #B51D3E;
    font-size: 4rem;
    font-weight: 300; }

/***************************
* 
*  JC PORTFOLIO
*  Layout: _grid.scss
* 
***************************/
/**************************************************************************
*   BASE GRID
*
*   ROWS
*   - Defined by page
*
*   COLUMNS
*   - Total content width • 1140px
*   - Left margin • 6rem min, 1fr max
*   - 12 central columns • min-content to 48px (4.8rem) • 40px gutter
*   - Right margin • 6rem min, 1fr max
*
***************************************************************************/
.grid {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [content-start] repeat(12, [col-start] minmax(min-content, 4.8rem) [col-end]) [content-end] minmax(6rem, 1fr) [full-end];
  column-gap: 4rem; }

/***************************
* 
*  JC PORTFOLIO
*  Layout: _header.scss
* 
***************************/
.header {
  position: fixed;
  top: 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7rem;
  width: 100%;
  z-index: 100;
  color: #FFF;
  transition: all .5s; }
  .header--scroll {
    background-color: rgba(255, 255, 255, 0.95);
    color: #000; }

.nav {
  margin-right: 3rem;
  cursor: pointer; }
  .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
  .nav__item {
    visibility: hidden;
    opacity: 0;
    width: 0%;
    padding-left: 0rem;
    padding-right: 0rem;
    transition: all 1s; }
  .nav__link:link, .nav__link:visited {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #A19391;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    transition: color .5s; }
  .nav__link:hover {
    color: #FFF; }
  .nav__link--scroll {
    color: #7D7270; }
    .nav__link--scroll:hover {
      color: #000; }
  .nav__slash {
    align-self: center;
    padding-top: .35rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: inherit;
    transition: color .75s; }
  .nav:hover .nav__slash {
    color: #B51D3E; }
  .nav:hover .nav__item {
    visibility: visible;
    opacity: 1;
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem; }

/****************************
* 
*  JC PORTFOLIO
*  Layout: _section.scss
* 
****************************/
.section, .section--color {
  grid-column: full-start / full-end;
  margin-top: 5rem;
  margin-bottom: 5rem;
  opacity: 1;
  transition: all 2s; }
  .section--first {
    margin-top: 10rem; }
  .section--color {
    background-color: #EBEBEB;
    padding-top: 8rem;
    padding-bottom: 8rem; }
    .section--color--last {
      margin-bottom: 10rem; }
  .section--hidden {
    opacity: 0;
    transform: translateY(-2rem); }

/***************************
* 
*  JC PORTFOLIO
*  Pages: Experience
* 
***************************/
.experience {
  grid-template-rows: 100vh repeat(4, min-content); }
  .experience__subsection {
    grid-column: full-start / full-end; }
    .experience__subsection:not(:last-child) {
      margin-bottom: 5rem; }
  .experience__design {
    grid-column: col-start 5 / span 4; }
  .experience__dev {
    grid-column: col-start 9 / span 4; }
  .experience__head {
    font: "Josefin Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem; }
    .experience__head--main {
      text-transform: uppercase; }
  .experience__list {
    list-style: none; }
    .experience__list__head {
      font-weight: 400;
      margin-bottom: 2rem; }

/***************************
* 
*  JC PORTFOLIO
*  Pages: Home
* 
***************************/
.home {
  grid-template-rows: 100vh repeat(4, min-content); }

.home__about-me__image {
  grid-column: content-start / col-end 3;
  border-radius: 50%;
  height: 22rem;
  width: 22rem; }

.home__about-me__text {
  grid-column: col-start 5 / content-end; }

.home__gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 5.5vw);
  grid-gap: .5rem; }
  .home__gallery__box--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / -1; }
  .home__gallery__box--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .home__gallery__box--3 {
    grid-column: 6 / span 3;
    grid-row: 1 / span 2; }
  .home__gallery__box--4 {
    grid-column: 9 / span 2;
    grid-row: 1 / span 2; }
  .home__gallery__box--5 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 2; }
  .home__gallery__box--6 {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2; }
  .home__gallery__box--7 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 3; }
  .home__gallery__box--8 {
    grid-column: 8 / span 3;
    grid-row: 3 / span 3; }
  .home__gallery__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; }

/***************************
* 
*  JC PORTFOLIO
*  Pages: Portfolio
* 
***************************/
.portfolio {
  grid-template-rows: 100vh repeat(4, min-content); }

.work-grid {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin-top: 7rem;
  margin-bottom: 5rem; }
  .work-grid__item {
    height: 25vw;
    cursor: pointer; }
  .work-grid__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all .5s; }
  .work-grid__item:hover > .work-grid__img {
    filter: none; }

/***************************
* 
*  JC PORTFOLIO
*  Pages: Project
* 
***************************/
.project {
  grid-template-rows: 100vh repeat(4, min-content); }
  .project__intro__details {
    grid-column: content-start / col-end 3;
    text-align: right; }
    .project__intro__details--head {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      color: #B51D3E; }
    .project__intro__details--copy {
      font-weight: 400;
      font-size: 1.85rem;
      margin-bottom: 2rem; }
  .project__intro__text {
    grid-column: col-start 5 / content-end; }
  .project__showcase {
    grid-column: col-start 1 / col-end 12; }
  .project__spread {
    width: 100%;
    margin-bottom: 10rem; }
    .project__spread:last-child {
      margin-bottom: 5rem; }
  .project__splash {
    grid-column: full-start / full-end;
    height: 60rem;
    margin-bottom: 5rem;
    background-attachment: fixed;
    background-size: cover;
    opacity: 95%; }
    .project__splash--chickenshed-1 {
      background-image: url(/img/Projects/Chickenshed/Splash/Chickenshed_Splash_Collage.jpg); }
    .project__splash--chickenshed-2 {
      background-image: url(/img/Projects/Chickenshed/Splash/Chickenshed_Splash_Crime.jpg); }
