/*****************************
* 
*  JC PORTFOLIO
*  Abstracts: _variables.scss
* 
*****************************/

// Fonts

$font-display: 'Josefin Sans', sans-serif;
$font-body: 'Josefin Sans', sans-serif;

// Colours

$color-primary: #B00000;

$color-white: #FFF;
$color-black: #000; 