/*****************************
* 
*  JC PORTFOLIO
*  Abstracts: _variables.scss
* 
*****************************/

// Fonts

$font-display: 'Josefin Sans', sans-serif;
$font-body: 'Josefin Sans', sans-serif;

// Colours

$color-primary: #b51d3e;
$color-secondary: #b5a31d;

$color-grey-light: #a19391;
$color-grey-med: #7d7270;
$color-grey-dark: #423d3c;

$color-background: #fafafa;
$color-background-med: #ebebeb;
$color-background-dark: #2b2929;

$color-white: #fff;
$color-black: #000;

// Margins

$section-top: 5rem;
$section-bottom: 5rem;

// Measures

$column-gap-master: 4rem;
