/*****************************
* 
*  JC PORTFOLIO
*  Abstracts: _variables.scss
* 
*****************************/

// Fonts

$font-display: 'Josefin Sans', sans-serif;
$font-body: 'Josefin Sans', sans-serif;

// Colours

$color-primary: #B00000;
$color-background: #FAFAFA;
$color-background-med: #EBEBEB;
$color-background-dark: #2B2929;

$color-white: #FFF;
$color-black: #000;

// Measures

$column-gap-master: 4rem;