/***************************
* 
*  JC PORTFOLIO
*  Layout: _footer.scss
* 
***************************/

.footer-comp {
  grid-column: full-start / full-end;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;

  height: 7rem;
  background-color: $color-background-dark;
  padding-top: 0.2rem;

  color: $color-white;
  font-family: $font-body;
  font-size: 1.5rem;
  text-transform: uppercase;

  &__nav {
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 2rem;
    align-items: center;

    list-style: none;

    &__item {
      align-self: center;
    }

    &__link {
      &:link,
      &:visited {
        color: $color-white;
        text-decoration: none;
        transition: color 0.5s;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: $color-primary;

    &__symbol {
      font-family: $font-display;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: $color-white;
      padding-top: 0.2rem;
    }
  }
}
