/***************************
* 
*  JC PORTFOLIO
*  Layout: _header.scss
* 
***************************/

.header {
  position: fixed;
  top: 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7rem;
  width: 100%;
  z-index: 100;

  color: $color-white;

  transition: all 0.5s;

  &--scroll {
    background-color: rgba($color-white, 0.95);
    color: $color-black;
  }

  &--red {
    background-color: $color-primary;
  }
}
