/***************************
* 
*  JC PORTFOLIO
*  Layout: _header.scss
* 
***************************/

.header {
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0rem;

  height: 7rem;
  width: 100%;
  padding-top: 0.4rem;
  z-index: 500;
  background-color: rgba($color-white, 0.95);

  transition: all 0.5s;

  &--scroll {
    opacity: 1;
    visibility: visible;
  }

  &__image {
    width: 22rem;
    height: auto;
    margin-left: 2rem;
  }
}

// Tablet break-point for hero section
@media only screen and (max-width: 600px) {
  .header__image {
    display: none;
  }
}
