/****************************
* 
*  JC PORTFOLIO
*  Layout: _section.scss
* 
****************************/

.section {
    grid-column: full-start / full-end;
    margin-top: 5rem;
    margin-bottom: 5rem;

    // Add larger margin for first main section after the header image
    &--first {
      margin-top: 10rem;  
    }

    &--color {
        @extend .section;
        background-color: $color-background-med;
        padding-top: 8rem;
        padding-bottom: 8rem;

        // Remove margin for last section before footer
        &--last {
            margin-bottom: 10rem;  
        }
    }
}