/****************************
* 
*  JC PORTFOLIO
*  Layout: _section.scss
* 
****************************/

.section {
  grid-column: full-start / full-end;
  margin-top: $section-top;
  margin-bottom: $section-bottom;

  &__center {
    grid-column: col-start 2 / col-end 11;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__split {
    grid-column: full-start / full-end;
  }

  // Add larger margin for first main section after the header image
  &--first {
    margin-top: 10rem;
  }

  // Color section
  &--color {
    @extend .section;
    background-color: $color-section;
    padding: 7rem 0;

    // Remove margin for last section before footer
    &--last {
      @extend .section--color;
      margin-bottom: 0rem !important;
    }
  }
}

// Tablet break-point for section
@media only screen and (max-width: 800px) {
  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;

    &--color {
      padding: 5rem 0;
    }

    &--first {
      margin-top: 6rem;
    }
  }
}

// Phone break-point for section
@media only screen and (max-width: 600px) {
  .section {
    margin-top: 5rem;
    margin-bottom: 5rem;

    &--color {
      padding: 5rem 0;
    }

    &__split {
      margin: 0 $mobile-border;
    }

    &__center {
      margin: 0 $mobile-border;
    }
  }
}

// Split section
.split {
  &__left {
    grid-column: content-start / col-end 3;
    text-align: right;

    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(3rem);
    }
  }

  &__right {
    grid-column: col-start 5 / content-end;

    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(-3rem);
    }
  }

  &__main {
    grid-column: content-start / col-end 7;
    text-align: left;

    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(3rem);
    }
  }

  &__sub {
    grid-column: col-start 8 / content-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(3rem);
    }
  }

  &__img {
    width: 80%;
  }
}

// Tablet break-point for sections
@media only screen and (max-width: 800px) {
  .section__center {
    text-align: justify;
  }

  .split__left {
    grid-column: col-start 1 / col-end 3;
    margin-bottom: 2rem;
  }

  .split__right {
    grid-column: col-start 4 / col-end 12;
  }

  .split__main {
    text-align: justify;
  }
}

// Phone break-point for sections
@media only screen and (max-width: 600px) {
  .section__center {
    grid-column: content-start / content-end;
    text-align: justify;
  }

  .split__left {
    grid-column: content-start / content-end;
    text-align: center;
    margin-bottom: 2rem;
  }

  .split__right {
    grid-column: content-start / content-end;
    text-align: justify;
  }

  .split__sub {
    margin-top: 1.5rem;
  }
}

.spotlight {
  grid-column: content-start / content-end;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__intro {
    text-align: center;
    width: 80%;
  }

  & .section__subhead {
    margin-bottom: 2rem;
  }
}

// Tablet break-point for spotlight section
@media only screen and (max-width: 800px) {
  .spotlight__intro {
    text-align: justify;
  }
}
