/****************************
* 
*  JC PORTFOLIO
*  Layout: _section.scss
* 
****************************/

.section {
  grid-column: full-start / full-end;
  margin-top: $section-top;
  margin-bottom: $section-bottom;
  opacity: 1;

  transition: all 2s;

  // Hidden
  &--hidden {
    opacity: 0;
  }

  // Split section
  &__left {
    grid-column: content-start / col-end 3;

    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(3rem);
    }
  }

  &__right {
    grid-column: col-start 5 / content-end;

    transition: all 2s;

    &--hidden {
      opacity: 0;
      transform: translateX(-3rem);
    }
  }

  // Add larger margin for first main section after the header image
  &--first {
    margin-top: 10rem;
  }

  // Color section
  &--color {
    background-color: $color-background-med;
    padding-top: 8rem;
    padding-bottom: 8rem;

    // Remove margin for last section before footer
    &--last {
      @extend .section--color;
      margin-bottom: 0rem;
    }
  }
}
