/***************************
* 
*  JC PORTFOLIO
*  Components: _hero.scss
* 
***************************/

.section__hero {
  grid-column: full-start / full-end;
}

.hero {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__title {
    @include centre-content;
    width: max-content;
  }

  &__buttons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  &__arrow {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);

    &__svg {
      height: 3rem;
      width: 3rem;
      fill: $color-white;

      animation: scroll-arrow 1.75s infinite;
    }
  }
}

// Hero arrow animation
@keyframes scroll-arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.75rem);
  }

  100% {
    transform: translateY(0);
  }
}
