/***************************
* 
*  JC PORTFOLIO
*  Base: _base.scss
* 
***************************/

// Global reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Remove automatic border around all focused items
*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;

    // Set value of 1 rem
    // 1 rem = 10 pixels
    // 10/16 = 62.5%
    font-size: 62.5%;
}

body {
    background-color: $color-background;
}

.spacer {
    margin-top: 1rem;
}