/***************************
* 
*  JC PORTFOLIO
*  Base: _typography.scss
* 
***************************/

body {
  font-family: $font-body;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.para {
  &:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}

.logo {
  font-family: $font-display;
  text-align: center;
  text-transform: uppercase;

  &__symbol {
    @extend .logo;
    font-weight: 500;
    font-size: 10rem;
    letter-spacing: 2rem;
    margin-right: -2rem;
    color: $color-primary;
  }

  &__text {
    @extend .logo;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2.5rem;
    margin-right: -2rem;
    color: $color-white;
  }
}

.heading {
  font-family: $font-display;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;

  &__main {
    @extend .heading;
    color: $color-white;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }

  &__sub {
    @extend .heading;
    color: $color-white;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.35rem;

    &--slash {
      position: relative;
      top: 0.3rem;
      color: $color-primary;
      font-size: 5rem;
    }
  }

  &__section {
    @extend .heading;
    grid-column: content-start / content-end;
    margin-bottom: 7rem;
    color: $color-black;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;

    &--slash {
      position: relative;
      top: 0.35rem;
      color: $color-primary;
      font-size: 4rem;
      font-weight: 400;
    }
  }
}

.section {
  &__subhead {
    grid-column: content-start / col-end 3;

    text-transform: uppercase;
    text-align: right;
    font-weight: 400;
    color: $color-primary;
  }

  &__text {
    &--left {
      text-align: left;
    }

    &--center {
      grid-column: col-start 2 / col-end 11;
      text-align: center;
    }
  }
}
