/***************************
* 
*  JC PORTFOLIO
*  Pages: Portfolio
* 
***************************/

.portfolio {
  // Specifiy CSS Grid row. Columns specified by standard grid
  grid-template-rows: 100vh repeat(4, min-content);
}

.work-grid {
  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, 48rem);
  grid-gap: $column-gap-master;
  justify-content: center;

  margin-top: 7rem;
  margin-bottom: 5rem;

  &__item {
    height: 48rem;
    cursor: pointer;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.5s;
  }

  &__item:hover > &__img {
    filter: none;
  }
}
