/***************************
* 
*  JC PORTFOLIO
*  Pages: Project
* 
***************************/

.project {
	// Specifiy CSS Grid row. Columns specified by standard grid
	grid-template-rows: 100vh repeat(4, min-content);

	&__intro {
		&__sell {
			font-size: 2.2rem;
			font-weight: 400;
			margin-bottom: 2rem;
		}

		&__details {
			padding-top: 0.5rem;
			text-align: right;

			&--head {
				text-transform: uppercase;
				font-size: 1.5rem;
				font-weight: 600;
				color: $color-primary;
			}

			&--copy {
				font-weight: 400;
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}

			&--copy a {
				text-decoration: none;
				color: inherit;
				transition: color 1s;
			}

			&--copy a:hover {
				color: $color-secondary;
			}
		}
	}

	&__showcase {
		grid-column: content-start / content-end;
		margin-top: $section-top;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__splash {
		grid-column: full-start / full-end;
		height: 35vw;
		margin-top: $section-top;
		margin-bottom: $section-bottom;

		background-attachment: fixed;
		background-size: cover;
		opacity: 95%;
	}
}

// Tablet break-point for project sections
@media only screen and (max-width: 800px) {
	.project__splash {
		height: 45vw;
	}
}

// Phone break-point for project sections
@media only screen and (max-width: 600px) {
	.project__showcase {
		margin: 0 $mobile-border;
	}
}

.spread {
	width: 85%;
	margin-bottom: 10rem;
	opacity: 1;
	transition: all 1s;

	&--wide {
		width: 100%;
	}

	&__left--hidden {
		opacity: 0;
		transform: translateX(-2rem);
	}

	&__right--hidden {
		opacity: 0;
		transform: translateX(2rem);
	}

	&:last-child {
		margin-bottom: 5rem;
	}
}

.imgGrid {
	grid-column: content-start / content-end;

	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;

	&__main-item {
		height: auto;
		z-index: 1;
	}

	&__sub-item {
		height: auto;
		z-index: 2;
	}

	&__mac {
		@extend .imgGrid;
		margin-bottom: 6rem;

		& .imgGrid__main-item {
			@extend .imgGrid__main-item;
			width: 75%;

			@media only screen and (max-width: 600px) {
				width: 60%;
			}
		}

		& .imgGrid__sub-item {
			@extend .imgGrid__sub-item;
			width: 60%;
			margin-left: -20rem;
			margin-bottom: -6rem;

			@media only screen and (max-width: 600px) {
				width: 45%;
				margin-left: -10rem;
				margin-bottom: -3rem;
			}
		}
	}

	&__phone {
		@extend .imgGrid;
		margin-bottom: 4rem;

		& .imgGrid__main-item {
			@extend .imgGrid__main-item;
			width: 35%;
		}

		& .imgGrid__sub-item {
			@extend .imgGrid__sub-item;
			width: 28%;
			margin-left: -5rem;
			margin-bottom: -3rem;
		}
	}
}
